.addModalBtn {
  background-color: #6a0dad;
  color: white;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.addModalBtn:hover {
  background-color: #5a0c9d;
}

.plusIcon {
  fill: white;
}
